

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
 background-color: rgb(138, 138, 192);
}

#header, #main-content, #footer{
    border:0.2vw solid black;
}

#header{
        border-top:0.4vw solid black;
}
#footer{
    border-bottom:0.4vw solid black;

}
#header,#main-content,#footer{

    border-left:0.4vw solid black;
    border-right:0.4vw solid black;
}
/*Header*/
#header{
    background-color: aqua;
    height:14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-img{
 height:12vh;
    width:6.3vw;
    margin-left:10vh; 
    border-radius: 50%; 
    margin-right: 2vh;
    border:0.3vw solid black;
}
#logo{
   font-weight:bold;
   font-size:2vw;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#simulation-list{
    list-style-type:none;
    margin-right:10vh;

    display: flex;
    justify-content: space-between;
    gap:4vh;
    flex-direction: row;
    
}

.simulation-btn{
border-radius:1vw;
}

#start-btn{
  background-color: rgb(73, 172, 48);

}

#stop-btn{
  background-color: rgb(76, 43, 226);
    

}

#reset-btn{
  background-color: rgb(226, 43, 43);
   
}

#stats-btn{
    background-color: rgb(226, 141, 43);
    
}
.simulation-icons{
    height:6vh;
    width: 3vw;
    margin-right:0.5vw;
}

.simulation-list-item{
    font-size:2vw;
    font-weight:bold;
    padding:1vw;
    height:10vh;


}
/*Main Section*/
#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: brown;
 height:150vh;
}
#supermarket-img{
    height:20vh;
    width:20vw;
}

#grid-container{
    display: grid;
    grid-template-columns: 2.3fr 1fr;
   
    grid-template-rows:1.3fr 1fr;
 
 

    background-color: gray;
    height:150vh;
    width:90vw;
    margin-top:5vh;
    margin-bottom:5vh;
    border:0.4vw solid black;

}

#grid-item{
    height:20vh;
    width:20vw;
    border:0.2vw solid black;
}

.grid-item-header{
font-size:2vw;
font-weight:bold;
margin-top:1vh;
margin-bottom:2vh;
}
.grid-item-1{
    background-color: yellow;
    display: flex;
    flex-direction: column;

}

.customer-list{
display: flex;
flex-direction:column;
text-align: center;
align-items: center;

}

.customer-item{
display: flex;
flex-direction: row;
justify-content: center;
border:0.2vw solid black;
width:30vw;
}

.customer-img{
border:0.1vw solid black;
height:10vh;

}

.customer-name{

}









.grid-item-2{
    background-color: rgb(102, 102, 60);
}


.cashier-list{
display: flex;
flex-direction:column;
text-align: center;
align-items: center;

}

.cashier-item{
display: flex;
flex-direction: row;
justify-content: space-evenly;
border:0.2vw solid black;
width:25vw;
height:10vh;
gap:0.4vh;

background-color: pink;
}

.cashier-line{

border-left:0.2vw solid black;
border-right:0.2vw solid black;
list-style-type: none;
font-size:0.4vw;
}

.cashier-line-header{

font-size:0.5vw;
}

.customer{
font-size:0.5vw;
}
.cashier-img{
border:0.1vw solid black;
height:8vh;

}

.cashier-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1vh;
}
.cashier-name{
font-size:1.3vw;
}



.busy-meter{
    width:8.5vw;
    height:1.3vw;
    border-radius:0.5vw;
    border:0.1vw solid black;
    background-color: green;
    display: flex;
    justify-content: center;

}
.cashier-box-1{
    background-color: rgb(255, 0, 55);

}
.cashier-box-2{
    background-color: rgb(255, 0, 93);
}
.cashier-box-3{
    background-color: rgb(0, 136, 255);
}
.cashier-box-4{
    background-color: rgb(64, 255, 0);
}

.grid-item-3{
    background-color: rgb(0, 255, 8);
    display: flex;
    flex-direction: column;
   
}

#grid-item-3-header{
  
}


#live-events{
    display: flex;
    flex-direction: column;
 


    margin:auto;
    margin-top:0vh;
    height:51vh;
    width:30vw;
    background-color: aquamarine;
    border:0.4vw solid black;
    list-style-type: none;
    overflow:scroll;
}



.grid-item-4{
    background-color: rgb(255, 0, 144);
   
}

#grid-item-4-header{
    margin-top:2vh;
}
.stats-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   margin-top:3vh;
}  

.store-stats-1{
    justify-content: center;
    margin-bottom:4vh;
}
.bottom-stats-container{
    display: flex;
    flex-direction:row;
    gap:2vh;
}
.store-stats{

height:17vh;
width:10vw;

}


.stats-data-container{
display: flex;
flex-direction:column;
justify-content: center;
text-align: center;
align-items: center;
overflow: hidden;
margin-top:2vh;
}

#profile-icon{
    height:8.3vh;
    width:6vw;
}

.stats-icon{

height:8vh;
width:4vw;
margin-bottom:1vh;
}

.stats-data{
font-weight:bold;
font-size:2vw;
}
.stats-header{
    font-size:1vw;
}
#shopping-icon{
     height:7.2vh;
    width:6vw;
}

#clock-icon{
    height:7.2vh;
    width:6vw;
    margin-top:0.6vh;
    margin-bottom: 1.45vh;
}

.queue-item-data{
    margin-top:6vh;
}
/*Footer*/
#footer{
 height:10vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: greenyellow;
}
#footer-text{
font-size:1vw;
}