

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
 background-color: rgb(138, 138, 192);
}

#header, #main-content, #footer{
    border:0.2vw solid black;
}

#header{
        border-top:0.4vw solid black;
}
#footer{
    border-bottom:0.4vw solid black;

}
#header,#main-content,#footer{

    border-left:0.4vw solid black;
    border-right:0.4vw solid black;
}
/*Header*/
#header{
    background-color: aqua;
    height:14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
#logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-img{
 height:12vh;
    width:6.3vw;
    margin-left:10vh; 
    border-radius: 50%; 
    margin-right: 2vh;
    border:0.3vw solid black;
}
#logo{
   font-weight:bold;
   font-size:2vw;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#simulation-list{
    list-style-type:none;
    margin-right:10vh;

    display: flex;
    justify-content: space-between;
    gap:4vh;
    flex-direction: row;
    
}

.simulation-btn{
border-radius:1vw;
}

#start-btn{
  background-color: rgb(73, 172, 48);

}

#stop-btn{
  background-color: rgb(76, 43, 226);
    

}

#reset-btn{
  background-color: rgb(226, 43, 43);
   
}

#stats-btn{
    background-color: rgb(226, 141, 43);
    
}
.simulation-icons{
    height:6vh;
    width: 3vw;
    margin-right:2vw;
}

.simulation-list-item{
    font-size:2vw;
    font-weight:bold;
    padding:1vw;
    height:10vh;


}
/*Main Section*/
#main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: brown;
 height:150vh;
}
#supermarket-img{
    height:20vh;
    width:20vw;
}

#grid-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
   
    grid-template-rows:2fr 1fr;
    
 

    background-color: gray;
    height:150vh;
    width:90vw;
    margin-top:5vh;
    margin-bottom:5vh;
    border:0.4vw solid black;

}

#grid-item{
    height:20vh;
    width:20vw;
    border:0.2vw solid black;
}

.grid-item-header{
font-size:2vw;
font-weight:bold;
margin-top:1vh;
}
.grid-item-1{
    background-color: yellow;
}
.grid-item-2{
    background-color: rgb(102, 102, 60);
}

.grid-item-3{
    background-color: rgb(0, 255, 8);
    display: flex;
    flex-direction: column;
   
}

#live-events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin:auto;
    height:30vh;
    width:30vw;
    background-color: aquamarine;
    border:0.4vw solid black;
    list-style-type: none;
}


.grid-item-4{
    background-color: rgb(255, 0, 144);
}

.cashier-container{
    display: grid;
    grid-template-columns: 20vh 20vh 20vh;
    grid-template-rows:5vh 8vh 20vh;

   
    background-color: green;
}

.cashier-box{
background-color: orange;
}
.cashier-box-1{
    background-color: rgb(255, 0, 55);

}
.cashier-box-2{
    background-color: rgb(255, 0, 93);
}
.cashier-box-3{
    background-color: rgb(0, 136, 255);
}
.cashier-box-4{
    background-color: rgb(64, 255, 0);
}

/*Footer*/
#footer{
 height:10vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: greenyellow;
}
#footer-text{
font-size:1vw;
}